<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>About Us | Order Food Online</title>

  <!-- Bootstrap core CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/stylesheets/all.min.css" rel="stylesheet">
  <link rel="icon" href="https://aws-website-amp-bbq2v.s3.amazonaws.com/favicon-have-lots.png" type="image/gif" sizes="16x16">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="/stylesheets/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="/stylesheets/landing-page.min.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-static-top" style="background-color: #e72525;">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="https://aws-website-amp-bbq2v.s3.amazonaws.com/order_food-online.png" height="100px"></a>
      <div class="container">
          <% if(!currentUser) {%>
     <a class="btn btn-primary" style="float: right; margin: 2px;" href="/register"><i class="fa fa-pencil"></i> Sign Up!</a>&nbsp;&nbsp;&nbsp;
     <a class="btn btn-primary" style="float: right; margin: 2px;" href="/login"><i class="fa fa-lock"></i> Login</a>
         <% } else { %>
         <a class="btn btn-primary" href="/logout" style="float: right; margin: 2px;"><i class="fa fa-unlock"></i> Logout</a>&nbsp;&nbsp;&nbsp;
		<a class="btn btn-primary" href="#" style="float: right; margin: 2px;"><i class="fa fa-user-circle"></i> Signed In As <strong><%= currentUser.username %></strong></a>
		<% } %>
        </div>
    </div>
  </nav>
  
  <!-- Masthead -->
  <header class="masthead text-white text-center">
      <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Who Delivers in Your Neighbourhood?
Order From Local Restaurants</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form action="/restaurants" method="GET"  class="navbar-form navbar-right">
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input type="text" name="search" class="form-control form-control-lg" placeholder="What City Are you Located In?">
              </div>
                <div class="col-12 col-md-3">
                <button type="submit" class="btn btn-block btn-lg btn-primary">
<i class="fa fa-search"></i> Search</button>
              </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>

  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fa fa-camera m-auto" style="color: #e72525;"></i>
            </div>
            <h3>Upload Pictures</h3>
            <p class="lead mb-0">Add Pictures to your Restaurant Location.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fa fa-user-plus m-auto" style="color: #e72525;"></i>
            </div>
            <h3>Review Ratings</h3>
            <p class="lead mb-0">Get more reviews/comments/likes for your Restaurant Location to Increase Sales.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fa fa-thumbs-o-up m-auto" style="color: #e72525;"></i>
            </div>
            <h3>New Like Feature for Restaurants</h3>
            <p class="lead mb-0">New Like Features/Follow Locations!</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fa fa-lock m-auto" style="color: #e72525;"></i>
            </div>
            <h3>Security</h3>
            <p class="lead mb-0">Fully automated and tightly integrated 
            with PCI compliant payment gateway and merchant services makes 
            our Online Restaurant Ordering system a secure platform that 
            protects all online transactions.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fa fa-lightbulb m-auto" style="color: #e72525;"></i>
            </div>
            <h3>Marketing</h3>
            <p class="lead mb-0">Our service team will create your custom 
            marketing plan that suits your business and targets your customer 
            segments. Social Media Marketing, Internet Marketing, Email Marketing, 
            Print Media Marketing, and more</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fa fa-cutlery m-auto" style="color: #e72525;"></i>
            </div>
            <h3>Online Ordering System</h3>
            <p class="lead mb-0">Make it easy for your customers to order food online, right 
            from your Website or Facebook Ordering application. Manage your orders through a feature
            rich portal.
            </p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fa fa-chart-line m-auto" style="color: #e72525;"></i>
            </div>
            <h3>Analytics</h3>
            <p class="lead mb-0">We help our clients understand their business performance and 
            address areas of concerns. We help them understand their customers insights such 
            that they can improve their product and service.
            </p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fa fa-mobile m-auto" style="color: #e72525;"></i>
            </div>
            <h3>Mobile Apps</h3>
            <p class="lead mb-0">Our mobile app and Facebook Ordering application help you add 
            more customs and increase sales. Our online food ordering applications work on all 
            major mobile OS , phones and tablets.
            </p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fa fa-desktop m-auto" style="color: #e72525;"></i>
            </div>
            <h3>Websites</h3>
            <p class="lead mb-0">Website is essential for any online business and so we help our 
            clients get that going with various options templates to custom built with rich user 
            experience. Additionally we can host and maintain your website.
            </p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fa fa-address-card m-auto" style="color: #e72525;"></i>
            </div>
            <h3>Restaurants</h3>
            <p class="lead mb-0">Tap the untapped revenues you can get with 
            online food ordering system and marketing services. We will empower 
            you with a platform for success through website, facebook ordering, 
            marketing, social media, branding.
            </p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fa fa-car m-auto" style="color: #e72525;"></i>
            </div>
            <h3>Delivery Services</h3>
            <p class="lead mb-0">Through our online food delivery application, we will 
            set you up with all that you need to receive and manage orders for delivery 
            from your restaurant clients. We even provide marketing and sales support 
            to make you successful.
            </p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fa fa-calculator m-auto" style="color: #e72525;"></i>
            </div>
            <h3>POS Support</h3>
            <p class="lead mb-0">Order Food Online is integrated with some 
            of the industry's popular POS systems, making your online 
            food ordering system work seamlessly.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Call to Action -->
  <section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Ready to get started? Sign up now!</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <div class="form-row">
              <div class="col-12 col-md-3">
                  <a href="/register">
                <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>
                </a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="about">About</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="contact">Contact</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="terms-of-service">Terms of Use</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="privacy-policy">Privacy Policy</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; Order Food Online. <script>document.write(new Date().getFullYear());</script>. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fa fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fa fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/stylesheets/jquery.min.js"></script>
  <script src="/stylesheets/bootstrap.bundle.min.js"></script>

</body>

</html>
