<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Contact Us | Order Food Online</title>

  <!-- Bootstrap core CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/stylesheets/all.min.css" rel="stylesheet">
  <link rel="icon" href="https://aws-website-amp-bbq2v.s3.amazonaws.com/favicon-have-lots.png" type="image/gif" sizes="16x16">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="/stylesheets/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="/stylesheets/landing-page.min.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-static-top" style="background-color: #e72525;">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="https://aws-website-amp-bbq2v.s3.amazonaws.com/order_food-online.png" height="100px"></a>
      <div class="container">
          <% if(!currentUser) {%>
     <a class="btn btn-primary" style="float: right; margin: 2px;" href="/register"><i class="fa fa-pencil"></i> Sign Up!</a>&nbsp;&nbsp;&nbsp;
     <a class="btn btn-primary" style="float: right; margin: 2px;" href="/login"><i class="fa fa-lock"></i> Login</a>
         <% } else { %>
         <a class="btn btn-primary" href="/logout" style="float: right; margin: 2px;"><i class="fa fa-unlock"></i> Logout</a>&nbsp;&nbsp;&nbsp;
		<a class="btn btn-primary" href="#" style="float: right; margin: 2px;"><i class="fa fa-user-circle"></i> Signed In As <strong><%= currentUser.username %></strong></a>
		<% } %>
        </div>
    </div>
  </nav>
  
  <!-- Masthead -->
  <header class="masthead text-white text-center">
      <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Who Delivers in Your Neighbourhood?
Order From Local Restaurants</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form action="/lots" method="GET"  class="navbar-form navbar-right">
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input type="text" name="search" class="form-control form-control-lg" placeholder="What City Are you Located In?">
              </div>
                <div class="col-12 col-md-3">
                <button type="submit" class="btn btn-block btn-lg btn-primary">
<i class="fa fa-search"></i> Search</button>
              </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>


  <!-- Image Showcases -->
  <section class="container">
    <div class="container">
      <div class="row">
        <div class="col">
          <!--contact form/php form script action--->
          <br>
          <br>
       <h2>CONTACT US</h2>
       <form name="contactform" method="POST" action="send_form_email.php" class="form-group">
         <label for="first_name"></label>
         <input type="text" name="first_name" maxlength="50" class="form-control" placeholder="FIRST NAME" required>
         <br>
         <label for="last_name"></label>
         <input type="text" name="last_name" maxlength="50" class="form-control" placeholder="LAST NAME" required>
         <br>
         <label for="email"></label>
         <input type="text" name="email" maxlength="80" class="form-control" placeholder="EMAIL ADDRESS" required>
         <br>
         <label for="business_name"></label>
         <input type="text" name="business_name" maxlength="80" class="form-control" placeholder="RESTAURANT NAME" required>
         <br>
         <label for="telephone"></label>
         <input type="text" name="telephone" maxlength="30" class="form-control" placeholder="TELEPHONE NUMBER" required>
         <br>
         <div class="form-group">
		    					<div class="form-field">
          					<div class="select-wrap">
          					  <label for="how_hear_about_us">How Your Hear About Us?</label>
                      <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                      <select name="how_hear_about_us" class="form-control">
                      	<option value="Select Your Services">Select Your Option</option>
                        <option value="Google Search Result">Google Search Result</option>
                        <option value="Facebook">Facebook</option>
                        <option value="Instagram">Instagram</option>
                        <option value="Bing, Yahoo">Bing, Yahoo</option></option>
												<option value="Other">Other</option>
                      </select>
                    </div>
		              </div>
		    				</div>
		    				<br>
		    				<div class="form-group">
		    					<div class="form-field">
          					<div class="select-wrap">
          					  <label for="how_hear_about_us">What Services You Interested In?</label>
                      <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                      <select name="services_required" class="form-control">
                      	<option value="Select Your Services">Select Your Option</option>
                        <option value="Restaurant Ordering Website">Restaurant Ordering Website</option>
                        <option value="Restaurant Business Listing">Restaurant Business Listing</option>
                        <option value="Restaurant Business Listing Removal">Restaurant Business Listing Removal</option>
                        <option value="Restaurant Marketing">Restaurant Markerting</option>
												<option value="Online Ordering System">Online Ordering System</option>
												<option value="Restaurant Mobile App">Restaurant Mobile App</option>
												<option value="Delivery Services">Delivery Services</option>
												<option value="POS Ordering System">POS Ordering System</option>
                      </select>
                    </div>
		              </div>
		    				</div>
         <label for="comments"></label>
         <textarea name="comments" maxlength="1000" cols="25" rows="6" class="form-control" placeholder="YOUR MESSAGE"></textarea>
         <br>
         <input type="submit" value="SUBMIT" class="btn btn-primary" style="height: 50px; width: 125px;">
       </form>
        <!--end contact form php-->
        </div>
      </div>
      </section>

  <!-- Call to Action -->
  <section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Ready to get started? Sign up now!</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <div class="form-row">
              <div class="col-12 col-md-3">
                  <a href="/register">
                <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>
                </a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="about">About</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="contact">Contact</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="terms-of-service">Terms of Use</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="privacy-policy">Privacy Policy</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; Order Food Online <script>document.write(new Date().getFullYear());</script>. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fa fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fa fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/stylesheets/jquery.min.js"></script>
  <script src="/stylesheets/bootstrap.bundle.min.js"></script>

</body>

</html>