<% include ./partials/header %>

<div class="row">
    <h1 style="text-align: center">Sign Up</h1>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="text-center">
                    <img class="img-thumbnail" style="border: 1px solid #fff;" src="https://aws-website-amp-bbq2v.s3.amazonaws.com/logo.png"/>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 50%; margin: 25px auto;">
        <form action="/register" method="post" enctype="multipart/form-data">
            <div class="form-group">
				<label for="username">Username</label>
                <input class="form-control" type="text" name="username" placeholder="username">
            </div>
            <div class="form-group">
				<label for="password">Password:</label>
                <input class="form-control" type="password" name="password" placeholder="password">
            </div>
			<div class="form-group">
				<label for="firstName">First Name</label>
                <input class="form-control" type="text" name="firstName" placeholder="first name">
            </div>
            <div class="form-group">
                <label for="">Phone</label>
                <input type="text" name="phone" class="form-control" id="phone" placeholder="123-456-6789">
              </div>
			<div class="form-group">
				<label for="lastName">Last Name</label>
                <input class="form-control" type="text" name="lastName" placeholder="last name">
            </div>
			<div class="form-group">
				<label for="email">Email</label>
                <input class="form-control" type="email" name="email" placeholder="email">
            </div>
			<div class="form-group">
				<label for="image">Avatar Profle Image</label>
                <input class="form-control" type="file" name="image" id="image" accept="image/*" required>
            </div>
			<div class="form-group">
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Sign Up!</button>
            </div>
        </form>
        <a href="/lots">Go Back</a>
    </div>
</div>

<% include ./partials/footer %>