.thumbnail img {
	width: 100%;
}

.thumbnail {
	padding: 0;
}

.thumbnail .caption-full {
	padding: 9px;
}
#delete-form {
	display: inline;
}
.delete-form {
	display: inline;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}

.checked {
	color: orange;
}
.navbar-header {
	background: #e72525;
	color: white;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
   background: #e72525;
   color: white;
}
.navbar-default {
    background-color: #e72525;
    border-color: #000000;
}
.navbar-default .navbar-nav>li>a {
    color: #FFFFFF;
}

.btn-primary {
    color: #ffffff;
    background-color: #e72525;
    border-color: #000000;
}
.btn-primary:hover {
	background-color: #e72525;
	color: #ffffff;
}
.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #e72525;
    border-color: #000000;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}