.thumbnail img {
	width: 100%;
}

.thumbnail {
	padding: 0;
}

.thumbnail .caption-full {
	padding: 9px;
}
#delete-form {
	display: inline;
}
.delete-form {
	display: inline;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}

.checked {
	color: orange;
}
.navbar-header {
	background: #ffffff;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
   background: #ffffff;
}
.navbar-default {
    background-color: #ffffff;
    border-color: #000000;
}