<% include ../partials/header %>

<div class="row">
	<div class="col-md-4">
		<h1><%= user.firstName + " " + user.lastName %></h1>
		<div class="thumbnail">
			<div class="d-block d-sm-none d-none d-sm-block d-md-none mx-auto">
          <div class="row">
            <div class="col-4 text-center">
            	 <div class="col-4 text-center">
              <% if(user.image > 1) { %>
                <img class="rounded shadow-sm" src="https://basinred.com/wp-content/uploads/2016/09/default-user-img.jpg" style="width: 110px; height: 110px;">
              <% } else { %>
                <img class="rounded shadow-sm" src="<%= user.image %>" style="width: 110px; height: 110px;" alt="user profile image">
              <% } %>
            </div>
            </div>
			<div class="caption"><a href="mailto:<%= user.email %>"><%= user.email %></a></div>
		</div>
		 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 	 enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		
	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut       enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
	</div>
		<div class="col-md-8">
	   </div>

<% include ../partials/footer %>